﻿@{
    ViewBag.Title = "FEx Demo";
}

<!--Container to bind the FEx-->
<div id="myContainer" style=""></div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/JSLINQ.js"></script>    
    <script src="~/Scripts/FEx/FEx.js"></script>    
    <link href="~/Scripts/FEx/FEx.css" rel="stylesheet" />
    <link href="~/Scripts/jquery.ui.resizable.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {
            $('#myContainer').FEx({
                filesSrc: "/FExDemo/GetFolderTree",
                data: { path: "F:/" },
                rootPath: "F:/",
                
                onLoadStart: function (options) {
                    //return is optional for modification
                },
                onLoadEnd: function (records) {
                    //return is mandatory for modification
                },
                validateGridData: function (records) {
                    //return is mandatory for modification
                },
                documentInfoHandler: function (options,selectedData, htmlObject) {
                    //return is mandatory for modification and it should be htmlObject
                },
                onActionStart: function (actionType, postData) {
                    //return is mandatory for modification postdata 
                },
                dateFormat: 'd-mm-yy',
                updateAction: {
                    renameUrl: '/FExDemo/UpdateFolder',
                    deleteUrl: '/FExDemo/UpdateFolder',
                    moveUrl: '/FExDemo/UpdateFolder',
                    createFolderUrl: '/FExDemo/UpdateFolder',
                    addFile: '/FExDemo/SaveFile'
                },
                setDynamicHeight: true,//Will takes the available width of the window else it will take the parents width i.e. myContainer width
                directorySort: {
                    Name: {
                        title:"File Name"
                    },
                    LastModifiedDate: {
                        title:"Modified Date"
                    }
                },
                gridTemplate: {
                    Format: {
                        title:"File Type"
                    },
                     Name: {
                         title: "Name",
                         updatable: true//Column will be updatable on rename and will be available for drag and drop.
                    },
                    LastModifiedDate: {
                        title: "Modified Date",
                        format:true//formats the date as per the format given above ... 
                    }
                },
                //Data members(Properties) for binding should be defined if it is other than the below specified names 
                dataMember: {
                    Path: 'Path',//File path acts as the unique value to traverse in the tree
                    Name: 'Name',//File or folder name to be displayed
                    Childs: 'Childs',//files in the folders 
                    Type: 'Type'//type of the file to display the icon
                }
            });
        });
 
    </script>